@use 'sass:map';
@use 'util' as *;

$font-body: "Hind", sans-serif;
$font-headings: "Hind", sans-serif;

$typography: (
    text-base: (font-size: fluid(14, 16),
        line-height: 1.1,
    ),

    heading-1: (font-family: $font-headings,
        font-size: fluid(25, 62),
        font-weight: 700,
        line-height: 1.1,
    ),

    heading-2: (font-family: $font-headings,
        font-size: fluid(25, 50),
        font-weight: 700,
        line-height: 1.1,
    ),

    heading-3: (font-family: $font-headings,
        font-size: fluid(18, 44),
        font-weight: 700,
        line-height: 1.1,
    ),

    heading-4: (font-family: $font-headings,
        font-size: fluid(18, 32),
        font-weight: 700,
        line-height: 1.1,
    ),

    heading-5: (font-family: $font-headings,
        font-size: fluid(16, 26),
        font-weight: 700,
        line-height: 1.4,
    ),

    heading-6: (font-family: $font-headings,
        font-size: fluid(10, 22),
        font-weight: 700,
        line-height: 1.4,
    )
);

// Typography styles.
@mixin type($name) {
    @if $typography and map.has-key($typography, $name ) {
        @each $prop, $value in map.get($typography, $name ) {
            #{$prop}: #{$value};
        }
    }
}