@use 'config' as *;

@include block('services-slider') {
    .wrapper {
        @include stack('v');

        gap: fluid(20, 40);
    }

    .title-area {
        @include stack('>');

        align-items: center;
        justify-content: space-between;
        gap: rem(10);

        .headline {
            font-size: fluid(28, 62);
            font-weight: 700;
            color: $dark;
        }

        .swiper-controls {
            @include stack('>');

            gap: rem(10);

            button {
                @include stack('>');

                align-items: center;
                justify-content: center;
                width: fluid(40, 50);
                height: fluid(40, 50);
                aspect-ratio: 1/1;
                padding: rem(10);
                background-color: $accent;
                border-radius: 50%;
                transition: 0.2s ease-in all;

                &:disabled {
                    opacity: 0.4;
                    cursor: not-allowed;
                }

                &.prev {
                    transform: rotate(180deg);
                }

                svg {
                    color: $primary;
                }
            }
        }
    }

    .slider-wrapper {
        &.img-left {
            .slide {
                flex-direction: row-reverse;
            }
        }

        .slide {
            @include stack('v');

            align-items: center;
            justify-content: space-between;
            gap: fluid(20, 80);
            flex-direction: column-reverse;

            @include media('>phone') {
                @include stack('>');
                flex-direction: row;
            }
        }

        .content {
            @include stack('v');

            gap: fluid(15, 50);
            flex: 1;

            .button {
                display: inline-flex;
            }

            .title {
                font-size: fluid(20, 32);
                color: $dark;
            }

            .desc {
                font-size: fluid(16, 20);
                line-height: 1.3;
                color: $dark;
            }
        }

        .img-wrap {
            width: 100%;
            height: fluid(260, 480);

            @include media('>phone') {
                width: fluid(440, 640, 'phone');
                height: fluid(275, 400, 'phone');
            }
        }

        .image {
            width: 100%;
            height: 100%;
            border-radius: rem(16);

            // @include media('>phone') {
            //     width: fluid(440, 640, 'phone');
            //     height: fluid(275, 400, 'phone');
            // }

            .img {
                @include fit;
            }
        }
    }
}